<launch>
  <!-- Controller -->
  <node name="denso_cobotta_control" pkg="denso_cobotta_control" exec="denso_cobotta_control" output="screen" namespace="/cobotta" required="true">
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}]: ${node}: ${message}"/>
  </node>

  <rosparam file="$(find denso_cobotta_descriptions)/cobotta_description/denso_cobotta_control.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" exec="spawner" output="screen" namespace="/cobotta" args="joint_state_controller arm_controller" required="true" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" output="screen" required="true">
    <remap from="/joint_states" to="/cobotta/joint_states" />
  </node>

</launch>
