<launch>

  <arg name="debug" default="false" />
  <let unless="$(var debug)" var="launch_prefix" value="" />
  <let     if="$(var debug)" var="launch_prefix" value="gdb --ex run --args" />

  <arg name="config" default="false" />
  <let unless="$(var config)" var="command_args" value="" />
  <let     if="$(var config)" var="command_args" value="-d $(find denso_cobotta_moveit_config)/launch/moveit.rviz" />

  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" exec="rviz" args="$(var command_args)" output="screen">
    <rosparam command="load" file="$(find denso_cobotta_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
